@font-face {
  font-family: pangolin;
  src: url(./font/Pangolin/Pangolin-Regular.ttf);
}

:root {
  --style-color: mediumpurple;
  --main-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: black;
  font-family: pangolin;
}

.hero {
  width: 35vw;
  display: flex;
  background-image: url(./img/axolotl.avif);
  background-size: cover;
  background-position: center;
}

.main {
  background-image: url(./img/underwater.jpg);
  background-size: cover;
  color: var(--main-color);;
  box-sizing: border-box;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
}

.main > * {
  padding-left: 5%;
  padding-right: 20%;
}

.main > div:first-child {
  position: relative;
  bottom: 3%;
  font-size: 1.2rem;
  font-weight: 700;
}

p:first-of-type {
  margin-bottom: 3%;
}


form {
  color: var(--main-color);
  background-color: rgb(0,0,0,0.5);
  height: 33.33vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  font-size: 0.8rem;
}

p > em {
  color: var(--style-color);;
}

form > h2 {
  color: var(--style-color);;
}

form fieldset {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

fieldset > div {
  position: relative;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: 0;
}

input {
  border: 0;
  border-radius: 10%;
  padding: 0.2rem;
  background-color: white;
  opacity: 1;
  width: 15rem;
}

button {
  font-family: inherit;
  background-color: var(--style-color);;
  color: var(--main-color);;
  appearance: none;
  border: 0;
  padding: 0.4rem 1.6rem;
  border-radius: 10%;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

p > span {
  color: var(--style-color);;
  font-weight: 600;
  cursor: pointer;
}

.hero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  max-height: 4rem;
  color: var(--main-color);
  background-color: rgb(148, 112, 219,0.2);
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  border-radius: 50%;
}

.hero > div > img {
  max-height: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.hero div > h2 {
  margin-top: -0.7rem;
}

form span {
  position: absolute;
  left: 100%;
  width: 3rem;
  height: 3rem;
}



input:not(:placeholder-shown):invalid + span{
  background-image: url(./img/axolotl-unhappy.svg);
  background-size: cover;
}

input:valid + span{
  background-image: url(./img/axolotl-very-happy.svg);
  background-size: cover;
}